:root {
    --red: #f02;
    --dark-blue: #012341;
    --pale-purple: #384575;
    --thumb-diameter: 25px;
    --password-field-button-size: 24px;
    --loader-size: 80px;
    --settings-animation-duration: .4s;
}
.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }
body {
    margin: 0px auto;
    color: white;
    background-color: var(--dark-blue);
    text-align: center;
    font-family: Verdana, Arial, sans-serif, monospace;
}
header {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    background-color: var(--pale-purple);
}
header, .main-container {
    min-width: 250px;
    margin: 0px auto;
}
.main-container {
    display: flex;
    flex-direction: column;
}
form {
    z-index: 1;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--dark-blue);
    text-shadow: 1px 1px 1px black;
}

/* ---------------- Option buttons ---------------- */
.option-buttons-container { /* Contains the buttons above the form */
    width: 100%;
    padding-top: 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.option-button {
    -webkit-transition: background-color var(--settings-animation-duration);
    transition: background-color var(--settings-animation-duration);
    height: 100%;
    border-radius: 5px;
    display: flex;
}
.option-button:active { color: var(--red); }
/*.option-button div { margin: auto; }*/
#js-clock-set-option { background-color: var(--dark-blue); }
/*#js-manual-set-option { background-color: var(--pale-purple); }*/
/* ------------------------------------------------ */

.form-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ----- Styling and animation for loader ----- */
.loader-container { display: none; }
.loader {
    top: 50vh;
    width: var(--loader-size);
    height: var(--loader-size);
    margin: calc(var(--loader-size) * -1) auto auto auto;
    border: 10px solid #fff;
    border-radius: 50%;
    border-top: 10px solid var(--red);
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
}
@-webkit-keyframes spin { /* Safari */
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* -------------------------------------------- */

.logo-svg {
    height: 95%;
    width: 100%;
    z-index: -100;
    left: 0px;
    top: 0px;
    position: absolute;
}
fieldset {
    border-width: 0px;
    clear: both;
}
.message {
    font-size: 20px;
    margin: 3px auto;
    cursor: default;
    font-weight: bold;
    word-break: break-word;
}

/* ------------------- Auto settings ------------------- */
#js-clock-settings {
    -webkit-transition: opacity var(--settings-animation-duration);
    transition: opacity var(--settings-animation-duration);
    display: flex;
    flex-direction: column;
}
.password-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
#js-password-button-container, .password-field-button {
    position: absolute;
    width: var(--password-field-button-size);
    height: var(--password-field-button-size);
}
#js-password-button-container {
    right: 10px;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
}
#js-password-button-container:active { background-color: gray; }
.password-field-button {
    fill: #012341;
    pointer-events: none;
}
#js-hide-password-button { opacity: 0; }
/* ----------------------------------------------------- */

/* -------- Switch buttons and checkboxes -------- */
.checkbox-container {
    margin: 10px auto;
    width: 60%;
}
.checkbox-label, .checkbox-slider-label { /* Contains daylight saving text and checkbox */
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
}
.checkbox-label {
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
}
.checkbox-label div { margin-left: 25px; }
.checkbox-label:active {
    color: var(--red);
    background-color: transparent;
}
.checkbox-box { /* Custom checkbox */
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 20%;
}
.checkbox-label .checkbox-box::after { /* Style of the custom checkbox box */
    top: -1px;
    left: 6px;
    width: 10px;
    height: 20px;
    border-style: solid;
    border-color: var(--red);
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.checkbox-box::after { /* checkbox indicator (hidden when not checked) */
    content: "";
    position: absolute;
    display: none;
}
.checkbox-label input:checked ~ .checkbox-box::after { display: inline; } /* Show the checkbox-box when checked */
#checkbox-slider-container {
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-slider-label {
    justify-content: flex-start;
    margin: 0px 5px;
    width: 55px;
    background-color: var(--red);
    border-radius: 10px;
}
.checkbox-slider, .checkbox-slider::after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
}
.checkbox-slider { /* Custom radio button */
    margin: 3px;
    align-items: center;
    justify-content: center;
}
.checkbox-slider::after {
    -webkit-transition: var(--settings-animation-duration);
    transition: var(--settings-animation-duration);
    background-color: white;
    position: absolute;
    content: '';
}
.checkbox-slider-label input:checked ~ .checkbox-slider::after {
    -webkit-transform: translateX(140%);
    -ms-transform: translateX(140%);
    transform: translateX(140%);
}
/* ----------------------------------------------- */

/* CSS for range input */
.js-slider-container {
    width: 80%;
    height: 15px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    -webkit-transition: opacity var(--settings-animation-duration), pointer-events 0s;
    transition: opacity var(--settings-animation-duration), pointer-events 0s;
}
.js-sc-big { margin-top: 35px; } /* js-slider-container-big */
#js-brightness-slider-container {
    opacity: 0;
    pointer-events: none;
}
.slider-track {
    height: 100%;
    border-radius: 10px;
    border-width: 0px;
}
.js-slider-input {
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: absolute;
}
.js-slider-container, .js-slider-thumb { border: 2px solid black; }
.slider-track, .js-slider-thumb { background-color: var(--red); }
.js-slider-thumb {
    top: -6.5px;
    width: var(--thumb-diameter);
    height: var(--thumb-diameter);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}
.js-slider-tooltip {
    width: var(--thumb-diameter);
    bottom: var(--thumb-diameter);
    position: absolute;
    color: var(--red);
    font-size: 20px;
}
/* ------------------- */

.clock-settings-input {
    padding: 2px 10px;
    margin: 5px auto;
    border: 1px solid #000;
}
.clock-settings-input, .button-red {
    font-size: 25px;
    border-radius: 10px;
}
.button-container { padding: 8px 0px; }
.bc-small { padding: 5px 0px; } /* button-container-small */
.button-red {
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-width: 0px;
    background-color: var(--red);
    box-shadow: 0px 0px 3px #000;
    text-shadow: 1px 1px 1px #000;
    border: 2px solid #000;
    display: inline-block;
}
.button-red:active {
    background-color: var(--pale-purple);
    box-shadow: 0px 0px 0px;
}
.br-small { /* button-red-small */
    padding: 5px 20px;
    font-size: 17px;
}
.popup-container { display: none; }
.popup-container.show-popup { display: block; }
.popup-background {
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #333;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.popup {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    z-index: 100;
    min-height: 100px;
    background-color: var(--dark-blue);
    border-radius: 3px;
    border: 3px solid #000;
    box-shadow: 0px 0px 3px #000;
}
.popup-big { top: 0px; }
.popup p {
    width: 99%;
    margin: 10px auto;
}
#js-popup-button { width: 30%; }
.hidden-element {
    opacity: 0;
    z-index: -100;
    display: none;
    position: absolute;
    visibility: hidden;
}

@media only screen and (min-width: 1000px) { /* Styling for desktop view */
    body { background-color: white; }
    header { padding: 1% 0px; }
    header, .main-container { width: 35%; }
    form {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .form-content { height: 500px; }
    .option-buttons-container { padding-top: 10px; }
    .message { margin: 5px auto; }
    .clock-settings-input {
        padding: 5px 10px;
        margin: 10px auto;
    }
    /* --------------------------------------------------------- */
    
    /* -------- Radio buttons and checkboxes -------- */
    .checkbox-container { width: 55%; }
    .checkbox-label div { margin-right: 25px; }
    .checkbox-box {
        width: 20px;
        height: 20px;
    }
    .checkbox-slider { /* Custom radio button */
        margin: 3px;
        width: 18px;
        height: 18px;
    }
    .checkbox-label .checkbox-box::after { /* Style the checkbox indicator */
        width: 6px;
        height: 17px;
    }
    .checkbox-slider-label {
        margin: 0px 10px;
        width: 50px;
    }
    .checkbox-slider::after {
        width: 18px;
        height: 18px;
    }
    /* ---------------------------------------------- */

    .loader {
        top: 50%;
        margin: calc(var(--loader-size) / -2) auto auto auto;
    }
    .button-red { padding: 8px 15px; }
    .br-small { padding: 5px 10px; }
    .popup {
        left: 50%;
        width: 300px;
        margin-left: -150px;
    }
}
/* END OF MAIN mainStyle.css FILE */
