:root {
    --red: #f02;
    --dark-blue: #012341;
    --pale-purple: #384575;
    --thumb-diameter: 25px;
    --password-field-button-size: 24px;
    --loader-size: 80px;
}
.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }

body {
    margin: 0px auto;
    color: white;
    background-color: var(--dark-blue);
    text-align: center;
    font-family: Verdana, Arial, sans-serif, monospace;
}
header {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    background-color: var(--pale-purple);
    padding: 4% 0px;
}
header, .main-container {
    width: 100%;
    position: relative;
    display: block;
    margin: 0px auto;
}
form {
    z-index: 1;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    background-color: var(--dark-blue);
    text-shadow: 1px 1px 1px black;
}

/* ---------------- Option buttons ---------------- */
.option-buttons-bontainer { /* Contains the buttons above the form */
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
}
.option-button {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    left: 0px;
    font-size: 17px;
    display: flex;
    border-radius: 5px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}
.option-button:active { color: var(--red); }
.option-button div { margin: auto; }
#js-auto-set-option { background-color: var(--dark-blue); }
#js-manual-set-option { background-color: var(--pale-purple); }
/* ------------------------------------------------ */

.form-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* ----- Styling and animation for loader ----- */
.loader-container { display: none; }
.loader {
    top: 50vh;
    width: var(--loader-size);
    height: var(--loader-size);
    border: 10px solid #fff;
    border-radius: 50%;
    border-top: 10px solid var(--red);
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
    margin: calc(var(--loader-size) * -1) auto auto auto;
}
@-webkit-keyframes spin { /* Safari */
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* -------------------------------------------- */

.logo-svg {
    position: absolute;
    height: 95%;
    width: 100%;
    z-index: -100;
    left: 0px;
    top: 0px;
}
fieldset {
    border-width: 0px;
    clear: both;
}
.message {
    font-size: 18px;
    margin: 5px;
    cursor: default;
    font-weight: bold;
    word-break: break-word;
}

/* ------------------- Auto settings ------------------- */
#js-auto-settings, #js-manual-settings {
    height: 185px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    font-size: 0px; /* Fixes white spaces */
}
#js-auto-settings div {
    margin: 20px 0px;
    display: block;
}
.password-field {
    position: relative;
    display: inline-block;
}
#js-password-button-container, .password-field-button {
    position: absolute;
    width: var(--password-field-button-size);
    height: var(--password-field-button-size);
}
#js-password-button-container {
    top: 25%;
    right: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
}
#js-password-button-container:active { background-color: gray; }
.password-field-button {
    fill: #012341;
    pointer-events: none;
}
#hide-password-button { opacity: 0; }
/* ----------------------------------------------------- */

/* ------------------- Manual settings ------------------- */
#js-manual-settings {
    opacity: 0;
    display: none;
}
#js-manual-settings > div { margin: 5px auto; }
.increase-buttons-container, .decrease-buttons-container { height: 30px; }
.divider {
    width: 20px;
    height: 30px;
    display: inline-block;
}
.increase-button { border-bottom: 30px solid var(--red); }
.decrease-button { border-top: 30px solid var(--red); }
.increase-button, .decrease-button {
    width: 0px;
    height: 0px;
    display: inline-block;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    margin: 0px 5px;
    -webkit-transition: border-color .15s;
    transition: border-color .15s;
    cursor: pointer;
}
.clock-digit {
    width: 60px;
    height: 80px;
    background-color: white;
    font-size: 80px;
    text-align: center;
    color: var(--dark-blue);
    display: inline-block;
    padding: 0px;
    margin: 0px 5px;
    border-width: 0px;
    border-radius: 5px;
    vertical-align: top;
}
.dots-container {
    width: 20px;
    height: 80px;
    position: relative;
    display: inline-block;
}
.clock-dot { /* Dots between the digits */
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: var(--red);
    border-radius: 50%;
}
.clock-dot.upper-dot { top: 20%; }
.clock-dot.lower-dot { bottom: 20%; }
/* ------------------------------------------------------- */

/* -------- Radio buttons and checkboxes -------- */
.checkbox-container {
    margin: 10px auto;
    width: 60%;
    font-size: 0px; /* Fixes white spaces */
}
.checkbox-label, .radio-button-label { /* Contains daylight saving text and checkbox */
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
    font-size: 16px;
}
.checkbox-label { margin: 10px 0px; }
.checkbox-label div {
    float: right;
    margin-left: 25px;
}
.checkbox-label:active, .radio-button-label:active {
    color: var(--red);
    background-color: transparent;
}
.checkbox-box { /* Custom checkbox */
    display: block;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 20%;
}
.checkbox-label .checkbox-box::after { /* Style of the custom checkbox box */
    top: -1px;
    left: 6px;
    width: 10px;
    height: 20px;
    border-style: solid;
    border-color: var(--red);
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
#radio-buttons-container {
    margin: 5px 0px;
    font-size: 0px; /* Fixes white spaces */
}
.radio-button-label {
    margin: 0px 5px;
    font-size: 16px;
}
.radio-button-label div {
    margin-left: 25px;
    float: right;
}
.radio-button-circle { /* Custom radio button */
    display: block;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}
.radio-button-label .radio-button-circle:after { /* Style of the custom radio button circle */
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red);
}
.checkbox-box::after, .radio-button-circle::after { /* checkbox indicator (hidden when not checked) */
    content: "";
    position: absolute;
    display: none;
}
.checkbox-label input:checked ~ .checkbox-box:after, 
.radio-button-label input:checked ~ .radio-button-circle:after { display: inline; } /* Show the checkbox-box when checked */
/* ---------------------------------------------- */

/* CSS for range input */
#js-slider-container {
    width: 80%;
    height: 15px;
    opacity: 0;
    margin: auto;
    position: relative;
    pointer-events: none;
    border-radius: 10px;
    -webkit-transition: opacity .4s, pointer-events 0s;
    transition: opacity .4s, pointer-events 0s;
}
.slider-track {
    height: 100%;
    border-radius: 10px;
    border-width: 0px;
}
#js-slider-input {
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: absolute;
}
#js-slider-container, #js-slider-thumb { border: 2px solid black; }
.slider-track, #js-slider-thumb { background-color: var(--red); }
#js-slider-thumb {
    top: -6.5px;
    width: var(--thumb-diameter);
    height: var(--thumb-diameter);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}
/* ------------------- */

.auto-settings-input {
    padding: 2px 10px;
    border: 1px solid #000;
}
.auto-settings-input, .button-red {
    font-size: 25px;
    border-radius: 10px;
}
.button-container {
    padding: 10px 0px;
    font-size: 0px; /* Fixes white spaces */
}
.button-red {
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    margin: 0px auto;
    border-width: 0px;
    background-color: var(--red);
    box-shadow: 0px 0px 3px #000;
    border: 2px solid #000;
}
.button-red:active {
    background-color: var(--pale-purple);
    box-shadow: 0px 0px 0px;
}
#js-popup-container { display: none; }
#js-popup-container.show-popup { display: block; }
.popup-background {
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: #333;
    opacity: 0.85;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.popup {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    z-index: 100;
    min-height: 100px;
    background-color: var(--dark-blue);
    border-radius: 3px;
    border: 3px solid #000;
    box-shadow: 0px 0px 3px #000;
}
#js-popup-button { width: 30%; }
.hidden-input {
    opacity: 0;
    z-index: -100;
    display: none;
    position: absolute;
    visibility: hidden;
}

@media only screen and (min-width: 1000px) { /* Styling for desktop view */
    body { background-color: white; }
    header { padding: 1% 0px; }
    header, .main-container { width: 35%; }
    form {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .form-container { height: 500px; }

    .auto-settings-input { padding: 5px 10px; }
    /* --------------------------------------------------------- */
    
    /* -------- Radio buttons and checkboxes -------- */
    .checkbox-container { width: 55%; }
    .checkbox-label div { margin-right: 25px; }
    .checkbox-box {
        width: 20px;
        height: 20px;
    }
    .radio-button-circle { /* Custom radio button */
        width: 18px;
        height: 18px;
    }
    .checkbox-label .checkbox-box::after { /* Style the checkbox indicator */
        width: 6px;
        height: 17px;
    }
    .radio-button-label .radio-button-circle:after {
        top: 1.1mm;
        left: 1.1mm;
        width: 2.5mm;
        height: 2.5mm;
    }
    /* ---------------------------------------------- */

    .loader {
        top: 50%;
        margin: calc(var(--loader-size) / -2) auto auto auto;
    }
    .button-red { padding: 10px 25px; }
    .popup {
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
}